* {
    box-sizing: border-box;
}

.col-1 {width: 160px;}
.col-2 {width: 320px;}
.col-3 {width: 480px;}
.col-4 {width: 640px;}
.col-5 {width: 800px;}
.col-6 {width: 960px;}

.row-1 {height: 170px;}
.row-2 {height: 340px;}
.row-3 {height: 510px;}

[class*="col-"] {
    float: left;
    position: relative;
}

.main {
    margin:-20px;
}

.box_white {
    background-color: pink;
    border: 10px solid white;
}

#box__red-1,
#box__red-2 {
    background-color: red;
    position: absolute;
}

#box__red-1 {
    width: 75px;
    height: 100px;
    top: 0px;
    right: 0px;
}

#box__red-2 {
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clear {
    clear: left;
    display: block;
}