* {
    box-sizing: border-box;
}

.box {
    width: 960px;
    height:510px;
    margin: -10px;
    /*position: relative;*/
}

.box_right,
.box_left,
.box_left_top,
.box_left_bottom {
    float: left;
    margin: 0px;
    position: relative;
}


.box_left {
    width: 800px;
}

.box_right {
    width: 160px;
}


.box__sm,
.box__md--vertical,
.box__md--horizontal,
.box__lg,
.box__2 {
    float: left;
    position: relative;
}


.box__sm,
.box__md--vertical,
.box__md--horizontal,
.box__lg {
    background-color: pink;
    margin: 10px;
}

.box__sm {
    width: 140px;
    height: 150px;
}

.box__md--horizontal {
    width: 300px;
    height: 150px;
}

.box__md--vertical {
    width: 140px;
    height: 320px;
}

.box__lg {
    width: 300px;
    height: 320px;
}

.box__2 {
    margin: 0px;
}

#box__red-1,
#box__red-2 {
    background-color: red;
    position: absolute;
}

#box__red-1 {
    width: 75px;
    height: 100px;
    top: 0px;
    right: 0px;
}

#box__red-2 {
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*dodanie  czyszczenia floatów*/
.clear {
    clear: left;
    display: block;
}